backend:
  name: git-gateway
  branch: base

publish_mode: editorial_workflow
show_preview_links: false

media_folder: static/img
public_folder: /img

collections:
  - name: 'pages'
    label: 'Pages'
    label_singular: 'Page'
    folder: 'content/pages'
    create: true
    slug: 'index'
    media_folder: ''
    public_folder: ''
    path: '{{slug}}/index'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Summary', name: 'summary', widget: 'string' }
      - { label: 'Slug', name: 'slug', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }