@tailwind base;
@tailwind components;
@tailwind utilities;

/* overrides to tailwind, applies to all pages */

:root {
  --dcp-orange: #db691b;
  --dcp-orange-dark: #833E10;
  --dcp-orange-light: #FBEFE8;
  --contrast-blue: #287bd9;
  --contrast-blue-darker: #246fc3;
  --contrast-blue-darkest: #08192b;
  --transparent-white: rgba(255, 255, 255, 0);
}

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 3em;
  width: 100%;
  background: linear-gradient(var(--contrast-blue), var(--transparent-white));
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-weight: 400;
  line-height: 1.65;
}

p, ul, ol {
  color: var(--contrast-blue-darker);
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  color: var(--contrast-blue-darker);
  margin: 2.75rem 0 1.05rem;
  font-weight: bold;
  line-height: 1.15;
}

code {
  color: var(--dcp-orange);
  background: var(--dcp-orange-light);
  font-size: 0.95em;
  border-radius: 0.5em;
  padding-left: 0.125em;
  padding-right: 0.125em;
}

.title {
  color: var(--contrast-blue-darker);
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: -0.5em;
}

a {
  text-decoration: none;
  color: var(--contrast-blue-darker);
}

.a-active {
  font-weight: bold;
  /* background: var(--contrast-blue-darker);
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: white; */
}

h1 {
  margin-top: 0;
  margin-bottom: 0.125em;
  font-size: 2em;
}

h2 {font-size: 1.602em;}

h3 {font-size: 1.424em;}

h4 {font-size: 1.266em;}

h5 {font-size: 1.125em;}

small, .text_small {font-size: 0.889em;}

ol {
  list-style-type: decimal;
  padding-left: 1em;
}

ul {
  list-style-type: circle;
  padding-left: 1em;
}

#article-column img {
  margin-bottom: 1em;
}

#article-column p, 
#article-column ul, 
#article-column ol, 
#article-column h1, 
#article-column h2, 
#article-column h3,
#article-column h4,
#article-column h5 {
  color: var(--contrast-blue-darkest);
}

#nav-column :nth-child(1) {
  margin-top: 0em;
}

#article-column :nth-child(1) {
  margin-top: 0em;
}

/* MERMAID DIAGRAMS */

div .mermaid {
  position: relative; 
  height: 0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; 
  margin-bottom: 1em;
}

svg[id^='mermaid-']{
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
}

tspan {
  font-family: Arial, Helvetica, sans-serif !important;
  fill: var(--contrast-blue-darker) !important;
}

.flowchart-link, path {
  stroke: var(--contrast-blue-darker) !important;
}

marker {
  fill: var(--contrast-blue-darker) !important;
}

.node rect { 
  fill: white !important;
  stroke: var(--contrast-blue-darker) !important;
}